/example_weatherstation_buildings/weather_station_schema.json
/.ipynb_checkpoints/
/example_weatherstation_buildings/weather_station_fiware_schema.json
/example_weatherstation_buildings/temperature_sensor_fiware_schema.json
